
  <div class="container">
    <div class="page-header">
      <h1>Welcome!</h1>
      <h4>...and don`t let to fool you!</h4>
    </div>  
  </div>

  <div class="container">
    <div class="row-fluid">
      <div class="span2">
        <h5>Game menu</h5>
        <ul class="nav nav-tabs nav-stacked">
          <li><a href="#">New game</a></li>
          <li><a href="#">Join game</a></li>
          <li><a href="#">Watch game</a></li>
        </ul>
      </div>
      <div class="span8 table">
         <%= yield %>
      </div>
      <div class="span2 nav nav-tabs nav-stacked">  
        <h5>Active users</h5>
        <li><a href="#"><i class="icon-play"></i>&nbsp Chuck Norris</a></li>
        <li><a href="#"><i class="icon-plus-sign"></i>&nbsp Rambo1986</a></li>
        <li><a href="#"><i class="icon-play"></i>&nbsp RubyStar</a></li>
        <li><a href="#"><i class="icon-ban-circle"></i>&nbsp Ivanka</a></li>
        <li><a href="#"><i class="icon-star"></i>&nbsp Slava Ukraini</a></li>
      </div>
    </div>  
  </div>